.content {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: center;
    gap: 480px;
    background-color: #211e1e;
}
.About {
    padding: 0 21%;
    background-color: #ffffff;
}
.contact, .lip {
    font-size: 40px;
    color: #ffffff;
}
.cc {
    font-size: 40px;
}
.uu{
    color: #7a7a7a;
    line-height: 30px;
    margin-bottom: 38px;
}

.mm {
    width: 100%;
    padding: 12px;
}
.bb{
    color: #707070;
    font-size: 25px;
}
.under {
    color: #707070;
    font-size: 25px;
}
.wri {
    padding: 12px 120px 155px 0;
    width: 100%
}
.push {
    padding: 14px 40px;
    font-size: 25px;
    margin: 40px 0px
}